.navHomepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navElement{
    width: 100%;
    height: 62px;
    font-size: 22px;
    color: white;
}
.navElement:hover{
    background-color: #66a3f7;
}
